@import url("https://fonts.googleapis.com/css?family=Heebo");

* {
  direction: rtl;
}

html,
body {
  background-color: #28262a;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgb(111, 109, 119);
  font-family: "Heebo", sans-serif;
  line-height: 130%;
}

html,
body,
#container {
  min-height: 100vh;
}

div {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

ion-icon {
  color: #6369af;
  width: 2.5vw;
  height: 2.5vw;
  padding-bottom: 0.5vw;
}

#container {
  flex-direction: row;
  flex: 1;
}

#container > div {
  width: 50%;
  height: 100%;
}

#right > div {
  width: 100%;
  min-height: 50vh;
  box-sizing: border-box;
}

#left {
  background-image: url("assets/bg.png");
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
}

#left > img {
  width: auto;
  height: 60vh;
}

#top {
  justify-content: flex-end;
  background-color: #6369af;
}

#top > div {
  position: relative;
  bottom: -2.55vh;
  overflow: visible;
  z-index: 2;
}

#bottom {
  position: relative;
  background-color: #fff;
  justify-content: center;
  padding: 7vh 5vw;
}

#bottom > div {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#bottom > div > div {
  padding: 2vh 1.5vw;
}

#logo {
  width: 13vh;
  height: auto;
  max-width: 170px;
  min-width: 80px;
}

#text-logo {
  width: 11.3vh;
  max-width: 140px;
  min-width: 70px;
  height: auto;
  margin-top: 1.83vh;
}

#app-store-badge {
  position: relative;
  width: 15.3vh;
  max-width: 200px;
  min-width: 150px;
  height: 5.1vh;
  max-height: 66.66px;
  min-height: 50px;
  background-image: url("assets/app-store-badge.svg");
  background-size: cover;
  margin-top: 12px;
}

#play-store-badge {
  width: 15.3vh;
  max-width: 200px;
  min-width: 150px;
  height: auto;
  margin-top: 40px;
}

#attribution {
  position: absolute;
  right: 1vh;
  bottom: 0.5vh;
  font-size: 9px;
  width: auto !important;
  height: auto !important;
}

@media only screen and (max-width: 768px) {
  ion-icon {
    width: 2.5vh;
    height: 2.5vh;
    padding-bottom: 0.5vh;
  }
  #container {
    flex-direction: column;
  }
  #container > div {
    width: 100%;
    height: auto;
  }
  #left {
    overflow: hidden;
  }
  #left > img {
    position: relative;
    bottom: -20vw;
    width: 60vw;
    height: auto;
  }
}
